
<!DOCTYPE html>
<html>

    <head>
        <title>RateAuthors</title>

        <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>

        <script>
        </script>

        <style>
            body {
                background-color: #ecf8fb;
            }

        </style>

    </head>

    <body>
        <h1>Hello Raters!</h1>
        <strong>{{ boldmessage }}</strong><br />
        Blog Rater<br />
        <form method="get" action="/blograter/">
            <input id="textbox" name="url" type="text" size='100' value=
                'http://haleyyew.blogspot.ca/,http://haleyyew-singsong.blogspot.ca/'>
            <input type="submit" class="btn" value="View Author Ratings" >
        </form>

        SoundCloud Tracks Agglomerator<br />

        <form method="get" action="/soundcloud/">
            <input id="textbox" name="urls" type="text" size='100' value=
                   'http://soundcloud.com/haoran-yu-1,http://soundcloud.com/haoran-yu-2,http://soundcloud.com/haoran-yu-3,http://soundcloud.com/haoran-yu-4,http://soundcloud.com/haoran-yu-5'
                    >
            <input type="submit" class="btn" value="Load Tracks" >
        </form>

    </body>

</html>