<h1>Welcome Raters!</h1>
<form action="processor.php" method="post"></form>
<p>Currently there are very few rated blogs in our database, please add a new blog by typing in its URL.</p>
 <%=" Then you can start rating the blog and its author!" %>